.client {
    padding: 64px 0;
    .client-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 720px) {
    .client-inner {
        height: 300px;
        .client-logo {
            flex-basis: 50%;
            text-align: center;
        }
    }
}

@media (max-width: 400px) {
    .client-inner {
        height: 500px;
        .client-logo {
            flex-basis: 100%;
            text-align: center;
        }
    }
}