.form {
    padding: 100px 0;
    background: $gray;
    .section__head {
        text-align: center;
        .title__section {
            margin-top: 0;
            margin-bottom: 41px;
            color: #191919;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.3px;
        }
        .text__section {
            max-width: 620px;
            margin: 0 auto 37px;
            @include main-text
        }
    }
    .form-project {
        margin: 0 auto;
        max-width: 670px;
        display: flex;
        flex-direction: column;
        .line-input_i {
            margin-right: 26px;
            width: 320px;
            &:last-child {
                margin-right: 0;
            }
        }
        input {
            padding: 18px 20px;
            margin-bottom: 30px;
            border: none;
            color: #787878;
            font-family: "Nunito Sans", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.07px;
        }
        textarea {
            padding: 20px;
            height: 170px;
            resize: none;
            margin-bottom: 30px;
            border: none;
            color: #787878;
            font-family: "Nunito Sans", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.07px;
        }
    }
    .button-wrap {
        text-align: center;
    }
}