.modal-head {
    padding: 30px 60px 60px;
    .modal-title {
        color: #1d1d1d;
        font-family: 'Montserrat', sans-serif;
        font-size: 38px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0.38px;
        margin-bottom: 32px;
    }
    .mod-wrap {
        display: flex;
        align-items: center;
    }
    .field-form {
        margin-right: 20px;
        padding: 16px 10px;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Montserrat',serif;
        &::placeholder {
            color: #ccc;
        }
    }
}