.numbers {
    height: 240px;
    background-color: #10c9c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .numbers__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .numbers__item {
            display: flex;
            align-items: center;
            .numbers__item-icon {
                margin-right: 28px;
            }
            .numbers__item-content__numb {
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.54px;
                margin-bottom: 7px;
            }
            .numbers__item-content__text {
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1.2px;
            }
        }
    }
}

@media (max-width: 725px) {
    .numbers__inner {
        flex-wrap: wrap;
        height: 150px;
        .numbers__item {
            justify-content: center;
            width: 50%;
        }
    }
}

@media (max-width: 530px) {
    .numbers {
        // padding: 100px 0;
        height: 500px;
        .numbers__inner {
            height: 460px;
            flex-wrap: wrap;
            .numbers__item {
                width: 100%;
                flex-direction: column;
                text-align: center;
                .numbers__item-icon{
                    margin-right: 0;
                }
            }
        }
    }
}